{% load static %}
{% load i18n admin_urls %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="https://bootstraptema.ru/plugins/2016/validator/validator.min.js"></script>
    <script src="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css"/>
    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">

    {% block styles %}{% endblock %}

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light head_block">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-md-auto">
                <a class="navbar-brand p-0" href="{% url 'main' %}"><img class="header_image"
                                                                         src="{% static 'images/header_image.png' %}"
                                                                         alt="Главная"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="col-md-auto" id="navbarSupportedContent">
                <a class="nav-link" href="{% url 'admin:index' %}">Админка</a>
            </div>

            <div class="col-md-auto" id="navbarSupportedContent">
                <a class="nav-link" href="{% url 'api' %}">api</a>
            </div>

            <div class="col col-md-auto">
                <form class="d-flex">
                    <input class="form-control mr-2" type="search" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Найти</button>
                </form>
            </div>

            <div class="col col-md-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-expanded="false">
                    Аккаунт
                </a>

                {% if user.is_authenticated %}
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'profile' user.id %}">Профиль</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
                    </ul>
                {% else %}
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'signIn' %}">Авторизация</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'signUp' %}">Регистрация</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<div class="container main_block" style="min-height: 100vh;">
    <div class="row p-0">
        <div class="nav_block col-2">
            <ul class="nav flex-column nav_block_ul pt-5">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' user.id %}"><b>Моя
                            страница</b></a>
                    </li>
                    <br>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><b>Сообщения</b></a>
                    </li>
                    <br>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><b>Link</b></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main' %}"><b>Новости</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signIn' %}"><b>Войти</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signUp' %}"><b>Регистрация</b></a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="content col-10 text-center for_main">
            {% block content %}{% endblock %}
        </div>
    </div>

</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light footer_block">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-md-auto">
                <a class="dropdown-item" href="{% url 'file_upload' %}">Загрузить файл</a>
            </div>
        </div>
    </div>
</nav>

</body>
</html>